.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.skills {
  background-color: rgb(250, 252, 250);
}
.skills__conteiner {
  display: grid;
  gap: 10px;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
}
.skills-item {
  background-color: coral;
  height: 33.33vh;
}
.skills-item:nth-child(1) {
  grid-area: a1;
}
.skills-item:nth-of-type(2) {
  grid-area: a2;
}
.skills-item:nth-of-type(3) {
  grid-area: a3;
}
.skills-item:nth-of-type(4) {
  grid-area: a4;
}
.skills-item:nth-of-type(5) {
  grid-area: a5;
}
.skills-item:nth-of-type(6) {
  grid-area: a6;
}
.skills-item:nth-of-type(7) {
  grid-area: a7;
}
.skills-item:nth-of-type(8) {
  grid-area: a8;
}
.skills-item:nth-of-type(9) {
  grid-area: a9;
}
