h1 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto Slab";
  text-align: center;
  line-height: 1.2em;
}
a {
  text-decoration: none;
  color: #ffffff;
}
